p {
  font-size: 30px;
  background-color:chartreuse;
  color: aqua;
  color: red;
<<<<<<< HEAD
=======
  color:blueviolet;
<<<<<<< HEAD
>>>>>>> 5c5a0bd1c71e64c0bef29bf7d32abad5234d2d9c
=======
  color:yellow;
>>>>>>> d64375d5e8624c9628bb126c0f91b243d4256f4f
}
